header{
    margin-left: 30px;
}
.html{
    padding-top: 30px;
}
.fonti{
    padding-top: 30px;
    font-size: 22px;
}
.siaxle{
    line-height: 25px;
}
.linki-1{
    color: #ee4036;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.mtavari{
    font-size: 22px;
    
}
.linki{
    color: #3D58A6;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    
}
.Text{
    padding-top: 30px;
    color: #E6E6E6;
    position: absolute;
    font-size: 36px;
    margin: 15px 28px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    
}
.centrfoto{
    padding-top: 30px;
    width: 1170px;
}
.fb{
    height: 30px;
    display: inline-block;
    padding-right: 20px;
}
.youtube{
    height: 30px;
    display: inline-block;
    padding-left: 20px;
}
img.mtavari{
    font-size: 22px;
}
.divcontinf{
   text-align: center;
   margin-top: 200px;
   line-height: normal;
}
.continf{
    color: #3D58A6;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.kontfont{
    color: #808080;
    font-family: "BPG Ingiri Arial", sans-serif;
}

.social{
    margin-top: 30px;
}
footer{
    margin-left: 30px;
}
.social-3{
    padding: 130px  0;
}
h2 {
    font-size: 20px;

}
h3{
    font-size: 16px;
}
.box{
    background-color: #3D58A6;
    color: #FFFFFF;
    width: 56px;
    height: 56px;
    font-size: 56px;
    margin: 34px 0;
}
.boxmaisi{
    display: inline;
    text-align: center;
}
.meoregverdi{
    margin-left: 30px;
}
.maisi{
    font-size: 22px;
    color: #3D58A6;
    margin: 0px;
    padding-top: 6px;
    font-family: "BPG Nino Mtavruli", sans-serif;
    margin-top: 2px;
    
}
.gverdi2{
    margin: 23px 0;
    color: #000000;
    font-size: 20px;
    margin-top: 60px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.statia1{
    margin: 36px 0;
    width: 1124px;
    font-size: 16px;
    font-family: "BPG Ingiri Arial", sans-serif;
}
.black{
    color: black;
    font-family: "BPG Ingiri Arial", sans-serif;
}
main{
    margin-left: 30px;
}
.gamyofi{
    height: 30px;
    display: inline-block;
    border-right: 2px solid #363E97;
}
.adgili {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}
